@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --clr-black: rgb(0, 0, 0);
  --clr-white: rgb(255, 255, 255);
  --clr-gold: rgb(159, 110, 2);
  --clr-red: rgb(213, 17, 17);
  --clr-fgreen: rgb(8, 88, 32);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fa-bag-shopping {
  width: 17px;
  position: absolute;
  left: 15%;
  top: 25%;
  cursor: pointer;
  color: white;
}

.counter-contain {
  width: 35px;
  height: 35px;
  position: relative;
}

.counter-number {
  position: absolute;
  top: 5%;
  right: 0;
  font-size: 12px;
  color: white;
  z-index: 1000;
}

.title-index {
  margin: 0px;
  text-align: center;
  margin-top: 20px;
}

.contador {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.cart__table {
  position: fixed;
  top: 7%;
  right: 5%;
  background: rgb(255, 255, 255);
  width: 30%;
  height: 0vh;
  overflow-y: scroll;
  transition: all 600ms;
  z-index: 400;
  font-family: 'Julius Sans One', sans-serif;
}

.cart__table--active {
  position: fixed;
  top: 7%;
  right: 5%;
  background: rgb(255, 255, 255);
  width: 30%;
  height: 60vh;
  overflow-y: scroll;
  transition: all 600ms;
  z-index: 400;
  border: 1px solid rgb(213, 213, 213);
  font-family: 'Julius Sans One', sans-serif;
}

.close-cart {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 7.5%;
  color: black;
}

.cart-product-box {
  position: relative;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 45px;
}

tr {
  border-bottom: 1px solid rgb(184, 184, 184);
  border-top: 1px solid rgb(201, 201, 201);
  padding: 10px;
  display: flex;
  gap: 20px;
  position: relative;
}

.cart-title {
  margin: 15px;
  color: black;
}

h2 {
  z-index: 400;
}

.cart-product {
  display: flex;
  gap: 10px;
  margin: 15px 0px 10px 15px;
}

.cart-img {
  width: 100px;
  height: auto;
}

.cpt {
  font-weight: bold;
}

.cart-product-detail-text {
  font-size: 16px;
}

.cart-product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
}

.fwb {
  font-weight: bold;
}

.checkout {
  
  background-color: white;
  border-top: 1px solid rgb(215, 215, 215);
}

.checkout-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  outline: 1px solid rgb(189, 189, 189);
}

.checkout-price-p {
  margin: 10px;
  font-weight: bold;
}

.checkout-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

.button-details-link {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #1b1b1b;
  border-color: #1b1b1b;
  display: block;
  height: 40px;
  position: relative;
  width: 100%;
  padding: 12px;
}

.button-details-link{
  text-decoration: none;
  color: white;
}
